<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<head>
    <title>Home</title>
</head>
<body>

<div class="w3-container">

    <h1> Home Page </h1>
    <p><a href="{{url_for('create')}}">Create Post</a></p>
    <p><a href="{{url_for('question')}}">Previous Publications</a></p>

</div>

</body>
</html>